:root {
  --main-font-family: 'Roboto', sans-serif;
  --logo: 'Raleway', sans-serif;
  --primary-color-light-theme: #f4f4fd;
  --secondary-color-light-theme: #ffffff;
  --primary-color-dark-theme: #2e2f42;
  --secondary-color-dark-theme: #434455;
  --primary-brand-color: #4d5ae5;
  --accent-color: #404bbf;
}

body {
  font-family: var(--main-font-family);
  color: var(--secondary-color-dark-theme);
  background-color: var(--secondary-color-light-theme);
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*====================================  COMPONENTS ==================================== */
.modal-opn-btn {
  padding: 16px 30px;
  height: 56px;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color-light-theme);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.modal-opn-btn:hover,
.modal-opn-btn:focus {
  background-color: var(--accent-color);
}

.subtitle {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color-dark-theme);
  text-align: center;
}

.logo {
  font-family: var(--logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.second-part-logo-dark-theme {
  color: var(--primary-color-light-theme);
}

.second-part-logo-light-theme {
  color: var(--primary-color-dark-theme);
}
/*====================================  /COMPONENTS ==================================== */

/*==================================== HEADER ====================================*/
.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
}

.main-menu {
  display: flex;
  gap: 40px;
}

.main-menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-theme);
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: var(--accent-color);
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}
/*==================================== /HEADER ====================================*/

/*==================================== STUDIO ====================================*/
/*========== HERO ==========*/
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--primary-color-dark-theme);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin-bottom: 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color-light-theme);
}
/*========== /HERO ==========*/

/*========== ABOUT ==========*/
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
}

.features-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-theme);
}

.features-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*========== /ABOUT ==========*/

/*========== COMPANY PRODUCTS ==========*/
.company-products {
  padding-bottom: 120px;
}

.gallery {
  display: flex;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
/*========== /COMPANY PRODUCTS ==========*/

/*========== TEAM MEMBERS ==========*/
.employees {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--primary-color-light-theme);
}

.employees-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.employees-list-item {
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--secondary-color-light-theme);
}

.employees-list-text {
  padding: 32px 16px;
}

.employees-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-theme);
}

.employees-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/*========== /TEAM MEMBERS ==========*/
/*==================================== /STUDIO ====================================*/

/*==================================== PORTFOLIO ====================================*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-list {
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.filters-list-btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--primary-color-light-theme);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.filters-list-btn:hover,
.filters-list-btn:focus {
  color: var(--secondary-color-light-theme);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-theme);
}

.portfolio-list-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*==================================== /PORTFOLIO ====================================*/

/*==================================== FOOTER ====================================*/
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-color-dark-theme);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-light-theme);
}
/*==================================== /FOOTER ====================================*/
